<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <remove value="index.php"/> <!-- prevent duplicate error when someone added it already IIS’s main config -->
	<add value="index.php"/>
      </files>
    </defaultDocument>
    <staticContent>
      <!-- Some versions of IIS don’t already know about .svg -->
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>
  </system.webServer>
</configuration>
