<?php
/*
 * Copyright 2010 Nathan Phillip Brink <ohnobinki@ohnopublishing.net>
 *
 * This file is a part of slate_permutate.
 *
 * slate_permutate is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * slate_permutate is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with slate_permutate.  If not, see <http://www.gnu.org/licenses/>.
 */

/**
 * \brief
 *   Use clean URLs for saved schedules. Default: FALSE.
 *
 * Before setting this to TRUE, make sure that you have read and
 * understood ../.htaccess.example and copied it to ../.htaccess .
 */
/* $clean_urls = FALSE; */

/**
 * \brief
 *   Custom clean URLs for schedule sharing. $clean_urls must be enabled.
 * 
 * This string should be set to a valid base URL that is rewritten
 * to a valid slate_permutate installation. This feature will be
 * extended in the future to support URL shorteners.
 */
/* $short_url_base = 'http://example.com/sp/'; */


/**
 * \brief
 *   List of Google Analytics trackers to enable. Default: empty list.
 *
 * Set this to an array of Google Analytics tracker IDs if you want to
 * analyze access to your slate_permutate installation.
 */
/* $ga_trackers = array(); */
/* $ga_trackers = array('UA-XXXXXXXX-X'); */

/**
 * \brief
 *   List of email addresses to send feedback form submissions to.
 *
 * Set this to a PHP array of email addresses to which feedback
 * submissions should be mailed.
 */ 
/* $feedback_emails = array('ethanzonca@gmail.com, ngelderloos7@gmail.com, ohnobinki@ohnopublishing.net'); */
/* $feedback_emails = array('user@example.org'); */

/**
 * \brief
 *   Whether or not to use SecureImage phpcaptcha.
 *
 * Set to TRUE to use SecureImage captcha, FALSE to not use
 * it. Requires PHP library available from http://phpcaptcha.org/
 * which may be placed in slate_permutate's lib/ directory or into the
 * system PHP include path.
 */
/* $use_captcha = FALSE; */

/**
 * \brief
 *   Password to be used for administration page (admin.php)
 *
 */
/* $admin_pass = ''; */

/**
 * \brief
 *   Setting this variable true enables the administration page
 *
 */
/* $admin_enable = FALSE; */

/**
 * \brief
 *   Enable purging saved schedules through the admin/rehash.php
 *   script or web interface.
 *
 * Set to TRUE to enable this functionality. It is disabled by default
 * because it causes irreparable information loss.
 */
/* $admin_enable_purge = FALSE; */
