/*
 * Copyright 2010 Nathan Gelderloos, Ethan Zonca, Nathan Phillip Brink
 *
 * This file is part of SlatePermutate.
 *
 * SlatePermutate is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * SlatePermutate is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with SlatePermutate.  If not, see <http://www.gnu.org/licenses/>.
 */

body {
  background: #fff;
}


/* Page Layout Styling */

#page {
  font: normal 14px sans-serif;
  background: #ffffff;
  width: 80%;
  padding: .5em;
  margin:auto;
  margin-top: 2em;

  min-width: 900px;
  max-width: 1100px;
}
#content {

  -moz-box-shadow: 0 0 .7em #999;
  -webkit-box-shadow: 0 0 .7em #999;
  box-shadow: 0 0 .7em #999; 

  -webkit-border-radius: .2em;
  -moz-border-radius: .2em;
  border-radius: .2em;

  background: #fff;
  padding: 1em;
}
#header {
  text-align: left;
  width: 100%;
}
#header h2 {
  font:  italic 20px sans-serif;
  margin: 0;
  padding: 0;
}
#footer {
  text-align: right;
  padding-left:1em;
  padding-right: 1em;
}
#leftfoot {
  margin-top: 0;
  float:left;
}
#title p {
  margin-top: -1.5em;
  margin-left: 1em;
  margin-bottom: .5em;;
  padding:0;
}
#menu {
  float: right;
  text-align: right;
  margin-top: .7em;
  padding-right: 1em;
}
#menu a {
  text-decoration: none;
}
#subtitle {
  font:  italic 20px sans-serif;
  margin-left: 1em;
  margin: 0;
  padding:0;
}


/* Link Styling */

a:link, a:visited, a:active {
  color: #777;
}

a:hover {
  color: #AAA;
}

#footer a:link, #footer a:visited, #footer a:active, #footer a:hover {
  color: #000;
  text-decoration: none;
}
#footer a:hover {
  text-decoration: underline;
}


/* Table Styling */

#container td {
  padding: .17em;
}
#container .class td {
  background: #70a97c; 
}
#container .tdInput {
  background: none!important; 
}
#container td.center {
  text-align:center;
}
#container .section:nth-child(even) td {
  background: #EEE;
}
#container .section:nth-child(odd) td {
  background: #CCC;
}
#container .section.lab td {
  background: #96acc4;
}
#container .none {
  background: none!important; 
}
#container .emptyCell, .removeCell {
  background: none!important; 
}
#container .lab .sectionIdentifier {
  background: none!important;
}
#container .lab .sectionIdentifier input {
  display: none;
}
#container .lab .deleteSection input {
  display: none;
}
#container .lab .deleteSection:before {
  content: "LAB";
}

/* Input Formatting */

#container {
  margin-left: 2em;
}
.defaultText { 
  width: 300px;
}
.defaultTextActive { 
  color: #a1a1a1; 
  font-style: italic; 
}
.error {
  color: #F00; /* For validation errors */
} 
.error p {
  padding: 0;
  margin: 0;
  font-size: .7em;
}
#classage {
  float:left;
}
.paddingtop {
  padding: .5em;
  padding-top: 1.5em;
}
.addClassRow {
  padding: 2px;
  width: 30em;
}
.gray {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #999;
  text-align: center!important;
  background: #CCC!important;
  cursor:default;
}
.gray:hover {
  background: #DDD!important;
}

.green {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #999;
  text-align: center!important;
/*  background: #92a689!important; */
  background: #EEE;

  cursor:default;
}
.green:hover {
  background: #68a64a!important;
}

/* For now, hide Saturday on the input page even though it works perfectly fine */
.collapsed
{
  /* http://www.w3.org/TR/CSS/tables.html#columns */
  visibility: collapse;
}

/* General Classes */

.block
{
    display: block;
}
.clear {
  clear: both;
}
.noborder {
  border: none!important;
}
.righttext {
  text-align: right;
}
.centeredtext {
  text-align: center;
}
.graytext {
  color: #999;
}
#sharedialog {
  display: none;
}

.bold {
  font-weight: bold;
}

/** Used for hidden saved schedules */
.hidden {
  display: none;
}
#showLess {
  display:none;
}
#savedBox p {
  padding:0;
  margin:0;
}
.syns {
  display:none;
}
#regCodes {
  float: right;
}
.synList {
  margin-left: 1em;
}

.nospace {
  padding:0!important;
  margin:0!important;
}
#container td {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#savedBox {
  width: 15em;
/*  padding: 1em; */
/*  border: 1px solid #CCC; */
  float:right;
/*  background: #EEE; */
  font-size: .8em;
/*  margin: 1em; */
}


/*.note a, .note a:link, .note a:visited, .note a:active {
  color: #CCC;
}*/
.note h3 {
  font-size: 1.5em;
}
.note {
  position:relative;
  padding:1em 1.5em;
  margin:2em auto;
  color:#000;
  background:#97C02F;

}

.note:before {
  content:"";
  position:absolute;
  top:0;
  right:0;
  border-width:0 16px 16px 0; /* This trick side-steps a webkit bug */
  border-style:solid;
  border-color:#fff #fff #658E15 #658E15; /* A bit more verbose to work with .rounded too */
  background:#658E15; /* For Opera when also applying a border-radius */
  display:block; width:0; /* Only for Firefox 3.0 damage limitation */
  /* Optional: shadow */
  -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
     -moz-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
          box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
}
.note.red {background:#C93213;}
.note.red:before {border-color:#fff #fff #97010A #97010A; background:#97010A;}

.note.blue {background:#53A3B4;}
.note.blue:before {border-color:#fff #fff transparent transparent; background:transparent;}

.note.taupe {background:#999868;}
.note.taupe:before {border-color:#fff #fff #BDBB8B #BDBB8B; background:#BDBB8B;}

.note.saved {background: #eeeeee;}
.note.saved:before {border-color:#fff #fff transparent transparent; background:transparent;}



/* Button Stylings */

.button {
    padding: 5px 10px;
    display: inline;
    background: #777 url(../images/button.png) repeat-x bottom;
    border: none;
    color: #fff!important; /* kill a styling */
    text-decoration: none!important; /* kill a styling */
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-shadow: 1px 1px #666;
    }
.button:hover {
    background-position: 0 -48px;
    }
.button:active {
    background-position: 0 top;
    position: relative;
    top: 1px;
    padding: 6px 10px 4px;
    }
.button.red { background-color: #e50000; }
.button.purple { background-color: #9400bf; }
.button.green { background-color: #58aa00; }
.button.olive { background-color: #309C47 }
.button.orange { background-color: #ff9c00; }
.button.blue { background-color: #2c6da0; }
.button.black { background-color: #333; }
.button.white { background-color: #fff; color: #000!important; text-shadow: 1px 1px #fff; }
.button.small { font-size: 75%; padding: 3px 7px; }
.button.small:hover { background-position: 0 -50px; }
.button.small:active { padding: 4px 7px 2px; background-position: 0 top; }
.button.large { font-size: 125%; padding: 7px 12px; }
.button.large:hover { background-position: 0 -35px; }
.button.large:active { padding: 8px 12px 6px; background-position: 0 top; }

.smallurl {
  font-size: .9em;
}
.indent {
  margin-left: 1em;
}

/* qTip2 Styling */
.ui-tooltip-dark .ui-tooltip-content{
  border-color: #303030;
  border-width: 2px;
  color: #f3f3f3;
  background-color: #505050;

  background: rgba(80,80,80,.9)!important;

  font: normal bold 1.2em sans-serif;
}

