body {
  background: #fff;
}


/* Page Layout Styling */

#page {
  font: normal 14px sans-serif;
  background: transparent;
  width: 80%;
  margin:auto;
  min-width: 900px;
  max-width: 1100px;
}
#content {
  background: #fff;
  padding: 12px;
}
#header {
  border-bottom: 1px dashed #888;
  text-align: left;
  width: 100%;
}
#header h2 {
  font:  italic 20px sans-serif;
  margin: 0;
  padding: 0;
}
#footer {
  border-top: 1px dashed #888;
  text-align: right;
}
#savedBox {
  width: 20em;
  padding: 1em;
  border: 1px solid #CCC;
  float:right;
  background: #EEE;
  font-size: .8em;
}
#title p {
  margin-top: -1.5em;
  margin-left: 1em;
  margin-bottom: .5em;;
  padding:0;
}
#menu {
  float: right;
  text-align: right;
  margin-top: 1em;
}
#menu a {
  text-decoration: none;
}
#subtitle {
  font:  italic 20px sans-serif;
  margin-left: 1em;
  margin: 0;
  padding:0;
}


/* Link Styling */

a:link, a:visited, a:active {
  color: #777;
}

a:hover {
  color: #AAA;
}

#footer a:link, #footer a:visited, #footer a:active, #footer a:hover {
  color: #000;
  text-decoration: none;
}
#footer a:hover {
  text-decoration: underline;
}


/* Table Styling */

td.center {
  text-align:center;
}
.section:nth-child(even) {
  background: #CCC;
}
.section:nth-child(odd) {
  background: #EEE;
}
.none {
  background: #fff;
}
.class {
  /* background: #99FF99; */
  background: #70a97c;
}


/* Input Formatting */

#container {
  margin-left: 2em;
}
.defaultText { 
  width: 300px;
}
.defaultTextActive { 
  color: #a1a1a1; 
  font-style: italic; 
}
.error {
  color: #F00; /* For validation errors */
} 
.error p {
  padding: 0;
  margin: 0;
  font-size: .7em;
}
#classage {
  float:left;
}
.paddingtop {
  padding: .5em;
  padding-top: 1.5em;
}
.tdInput {
  background: #fff;
}
.addClassRow {
  padding: 2px;
  width: 30em;
}
.gray {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #999;
  text-align: center!important;
  background: #CCC!important;
  cursor:default;
}
.gray:hover {
  background: #DDD!important;
}

.green {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #999;
  text-align: center!important;
/*  background: #92a689!important; */
  background: #EEE;

  cursor:default;
}
.green:hover {
  background: #68a64a!important;
}


/* General Classes */

.block
{
    display: block;
}
.clear {
  clear: both;
}
.noborder {
  border: none!important;
}
.righttext {
  text-align: right;
}
.centeredtext {
  text-align: center;
}
.graytext {
  color: #999;
}
#sharedialog {
  display: none;
}
