/*
 * Copyright 2011 Nathan Gelderloos, Ethan Zonca, Nathan Phillip Brink
 *
 * This file is part of SlatePermutate.
 *
 * SlatePermutate is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * SlatePermutate is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with SlatePermutate.  If not, see <http://www.gnu.org/licenses/>.
 */

#tabs {
    border: none;
}

/* Output Table Styling */
.top,
.multi
{
  background-color:#dddddd;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
}
.top
{
  border-style:solid solid none solid;
}
.mid
{
  border-style:none solid none solid;
  background-color:#dddddd;
}
.end,
.multi
{
  background-color:#dddddd;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
}
.end
{
  border-style:none solid solid solid;
}
.multi
{
    border-style: solid;
}

.none{
  border-style:none;
  border-bottom: 1px solid #DDD;
}
.single
{
  border-style:solid;
  background-color:#dddddd;
}
td{
  text-align:center;
  width:7em;
}
.time
{
  border-style:none none solid none; 
  border-bottom: 1px solid #aaa;
  white-space: nowrap;
}
.day{
  border-style:none none solid solid;
  background: #F0F0F0;
}

.prof,
.location,
.synonym,
.credit-hours
{
    color: #444444;
    font-size: small;
}

/* Class Coloring */
.multi {  }
.class0 { background: #69c76f; }
.class1 { background: #c5c769; }
.class2 { background: #c76b69; }
.class3 { background: #696fc7; }
.class4 { background: #69a7c7; }
.class5 { background: #c769c6; }
.class6 { background: #989898; }
.class7 { background: #e8e8e8; }
.class8 { background: #111111; color: #fff; } 
.class9 { background: #00437d; color: #fff; }
.class10 { background: #7e2400; color: #fff; }
.permuteNum { border-bottom: 1px solid #000; font-weight: bold; color: #fff; background: #222; }

.top, .multi, .end {
  -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.1), -1px 2px 2px rgba(0,0,0,0.6);
     -moz-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
          box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
}

#the-tabs {
    clear: both;
}

#tabs table {
  clear: both;
}

#tabs ul {
  text-align: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 2px; 
}
/* don't let the user see a tall stack of tabs before jQuery().tabs() is called. */
#tabs li
{ 
  display: inline-block;
}
#tabs table {
  margin: auto;
}
#tabs li a
{
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;

  text-decoration: none;
  background: rgb(0,35,0); /* Fallback */
  background: rgba(0,35,0,0.9);
  padding: 2px;
}
#tabs li a:link
{
  color: rgb(255,255,255);
  color: rgba(255,255,255,1);
}
#tabs li a:visited
{
  color: rgb(255,255,255);
  color: rgba(255,255,255,1);
}
#tabs li a:hover, .ui-tabs-selected a
{
  background: rgb(200,200,200) !important; /* fallback */
  background: rgba(200,200,200,1)!important;

  color: rgb(0,0,0)!important;
}
#tabs li a:active {
        color: rgba(200,200,200,1);
}
#tabs {
  margin: auto;
}
#tabs li /* , .ui-corner-all, .ui-corner-top */ { background: none!important; }
#tabs li { border: none!important; }

.show-buttons {

  width: 99%;
  margin: auto;
  padding: 2px;
  background: #EEE;
  border: 1px solid #AAA;
  border-radius: 3px;
  -moz-border-radus: 3px;

}
.show-buttons form span {
    display: inline-block;
}
.show-buttons label {
  padding-right: .5em;
}

.pager
{
  display: inline-block;

  clear: none;
}
.pager a
{
  text-decoration: none;
}

#pager-previous
{
  float: left;
}
#pager-next
{
  float: right;
}
/*
 * For link-blurb generators to read, not humans to directly see.
 */
.sectionList, #courseList
{
  display: none;
}

table {
  border-radius: 5px;
}
.none {
  border-bottom: 1px dotted #ccc;
}

.section
{
    page-break-before: always;
}
/* override jqueryui stuff */
.section.ui-tabs-panel {
    padding: 0;
}
.section:first-child
{
    page-break-before: auto;
}
