div.scroller { 
	border:0;
	padding:0;
	margin:0;
}

div.scroller div.section {
	padding:0;
	margin-bottom: 2em;		
}

div.scroller div.section div.txt {
	padding: 1em;
}

#tabs ul {
	display: none;
}

.section {
	background: #fff!important;
}

#footer {
  text-align: center;
}
