@import url('general.css');
@import url('output.css');

/* Styling overrides for printing */


body {
  background: #fff;
}

#page {
  font: normal 7pt sans-serif!important;
  width: 100%!important;
  min-width: 0px!important;
  max-width: 10000px!important;
}

a img {
  border: none;
}
div.scroller { 
	border:0;
	padding:0;
	margin:0;
}

div.scroller div.section {
	padding:0;
	margin-bottom: 2em;		
}

div.scroller div.section div.txt {
	padding: 1em;
}

#tabs ul {
	display: none;
}

.section {
	background: #fff!important;
}

#editbutton {
  display: none;
}
#leftfoot {
  display: none; 
}


#rightfoot {
  text-align: right!important;
}
#possiblestats {
  text-align: center;
}

#show-box
{ 
  display: none;
}
